{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to ITMS Software - MCS Project</title>
    <link rel="stylesheet" href="{% static 'backend/styles/index.css' %}">
</head>
<body>
    <header>
        <h1>Welcome to ITMS Software!</h1>
        <p>Your ultimate solution for IT management.</p>
        <p>This System was built by ENG. Moutaz Jnoub For MCS Graduate Project at SVU</p>
        
    </header>
    <main>
        <section class="info">
            <h2>About ITMS</h2>
            <p>ITMS Software is designed to streamline your IT operations, enhance productivity, and provide comprehensive solutions for managing IT resources.</p>
            <p>Our software offers features such as:</p>
            <ul>
                <li>Resource Management</li>
                <li>Performance Monitoring</li>
                <li>Incident Management</li>
                <li>Reporting and Analytics</li>
            </ul>
        </section>
        <nav>
            <ul>
                <li><a href="{% url 'about' %}">About Us</a></li>
                <li><a href="download.html">Download Product</a></li>
                <li><a href="contact.html">Contact Us</a></li>
                <li><a href="{% url 'index' %}">Contact Us</a></li>
            </ul>
        </nav>
    </main>
    <footer>
        <p>&copy; 2024 ITMS Software By <b>SVU\MCS</b>. All rights reserved.</p>
    </footer>
</body>
</html>
